In [2]:
import pandas as pd
import numpy as np

In [3]:
fg = pd.read_csv("./csv_files/fear_greed_index.csv")
hist = pd.read_csv("./csv_files/historical_data.csv")

In [4]:
hist.head(2)

,Account,Coin,Execution Price,Size Tokens,Size USD,Side,Timestamp IST,Start Position,Direction,Closed PnL,Transaction Hash,Order ID,Crossed,Fee,Trade ID,Timestamp
0,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9769,986.87,7872.16,BUY,02-12-2024 22:50,0.000000,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.345404,8.950000e+14,1.730000e+12
1,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9800,16.00,127.68,BUY,02-12-2024 22:50,986.524596,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.005600,4.430000e+14,1.730000e+12

In [5]:
fg.head(2)

    timestamp  value classification        date
0  1517463000     30           Fear  2018-02-01
1  1517549400     15   Extreme Fear  2018-02-02

### Clean Data

In [6]:

fg['date'] = pd.to_datetime(fg['date']).dt.date
fg = fg[['date', 'value', 'classification']]
fg.rename(columns={'value': 'fear_greed_score'}, inplace=True)


# Convert IST timestamp into datetime
hist['Timestamp IST'] = pd.to_datetime(hist['Timestamp IST'], format="%d-%m-%Y %H:%M", errors='coerce')

# Extract date for merging
hist['date'] = hist['Timestamp IST'].dt.date

# Normalize columns
hist.columns = hist.columns.str.lower().str.replace(" ", "_")

In [7]:
merged = hist.merge(fg, on="date", how="left")

print("Merged shape:", merged.shape)
merged.head(10)

Merged shape: (211224, 19)

,account,coin,execution_price,size_tokens,size_usd,side,timestamp_ist,start_position,direction,closed_pnl,transaction_hash,order_id,crossed,fee,trade_id,timestamp,date,fear_greed_score,classification
0,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9769,986.87,7872.16,BUY,2024-12-02 22:50:00,0.000000,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.345404,8.950000e+14,1.730000e+12,2024-12-02,80.0,Extreme Greed
1,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9800,16.00,127.68,BUY,2024-12-02 22:50:00,986.524596,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.005600,4.430000e+14,1.730000e+12,2024-12-02,80.0,Extreme Greed
2,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9855,144.09,1150.63,BUY,2024-12-02 22:50:00,1002.518996,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.050431,6.600000e+14,1.730000e+12,2024-12-02,80.0,Extreme Greed
3,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9874,142.98,1142.04,BUY,2024-12-02 22:50:00,1146.558564,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.050043,1.080000e+15,1.730000e+12,2024-12-02,80.0,Extreme Greed
4,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9894,8.73,69.75,BUY,2024-12-02 22:50:00,1289.488521,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.003055,1.050000e+15,1.730000e+12,2024-12-02,80.0,Extreme Greed
5,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9900,1.41,11.27,BUY,2024-12-02 22:50:00,1298.215466,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.000493,7.330000e+14,1.730000e+12,2024-12-02,80.0,Extreme Greed
6,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9934,144.09,1151.77,BUY,2024-12-02 22:50:00,1299.624972,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.050431,9.060000e+14,1.730000e+12,2024-12-02,80.0,Extreme Greed
7,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,8.0000,34.00,272.00,BUY,2024-12-02 22:50:00,1443.664541,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.011900,3.960000e+14,1.730000e+12,2024-12-02,80.0,Extreme Greed
8,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,8.0000,46.00,368.00,BUY,2024-12-02 22:50:00,1477.652641,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.016100,9.460000e+14,1.730000e+12,2024-12-02,80.0,Extreme Greed
9,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,8.0000,12.50,100.00,BUY,2024-12-02 22:50:00,1523.636541,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.004375,3.470000e+13,1.730000e+12,2024-12-02,80.0,Extreme Greed

### Feature Engineering

In [8]:
df = merged.copy()

# Notional value of trade
df['notional'] = df['execution_price'] * df['size_tokens']

# Win/loss
df['is_win'] = (df['closed_pnl'] > 0).astype(int)

# Normalized return
df['pnl_per_usd'] = df['closed_pnl'] / df['notional'].replace(0, np.nan)

# Trade direction normalized
df['direction'] = df['direction'].str.upper()
df['sentiment'] = df['classification'].str.upper()

### Fear vs Greed

In [9]:
sentiment_summary = (
    df.groupby('sentiment')
    .agg(
        n_trades=('closed_pnl', 'count'),
        avg_pnl=('closed_pnl', 'mean'),
        median_pnl=('closed_pnl', 'median'),
        win_rate=('is_win', 'mean'),
        avg_notional=('notional', 'mean'),
        avg_fee=('fee', 'mean')
    )
)

sentiment_summary

,n_trades,avg_pnl,median_pnl,win_rate,avg_notional,avg_fee
sentiment,,,,,,
EXTREME FEAR,21400,34.537862,0.0,0.370607,5349.731778,1.116291
EXTREME GREED,39992,67.892861,0.0,0.464943,3112.251531,0.675902
FEAR,61837,54.290400,0.0,0.420768,7816.109965,1.495172
GREED,50303,42.743559,0.0,0.384828,5736.884385,1.254372
NEUTRAL,37686,34.307718,0.0,0.396991,4782.732642,1.044798

Direction - Sentiment

In [10]:
direction_summary = (
    df.groupby(['sentiment', 'direction'])
    .agg(
        n_trades=('closed_pnl', 'count'),
        avg_pnl=('closed_pnl', 'mean'),
        win_rate=('is_win', 'mean'),
        avg_notional=('notional', 'mean')
    )
    .reset_index()
)

direction_summary.head ()

      sentiment     direction  n_trades     avg_pnl  win_rate  avg_notional
0  EXTREME FEAR           BUY       807    0.000000  0.000000   1480.010131
1  EXTREME FEAR    CLOSE LONG      6241   81.197371  0.846499   6831.590786
2  EXTREME FEAR   CLOSE SHORT      3117  123.400238  0.705807   3976.073532
3  EXTREME FEAR  LONG > SHORT         5    1.331956  1.000000    852.308632
4  EXTREME FEAR     OPEN LONG      7005    0.000000  0.000000   6061.629254

### Leverage Buckets vs Sentiment

In [11]:
bins = [0, 2, 5, 10, 20, 50, np.inf]
labels = ['<=2x', '2–5x', '5–10x', '10–20x', '20–50x', '>50x']

df['lev_bucket'] = pd.cut(df['start_position'], bins=bins, labels=labels)

leverage_summary = (
    df.groupby(['sentiment', 'lev_bucket'])
    .agg(
        n_trades=('closed_pnl', 'count'),
        avg_pnl=('closed_pnl', 'mean'),
        win_rate=('is_win', 'mean')
    )
    .reset_index()
)

leverage_summary.head()

C:\Users\MRINMAY\AppData\Local\Temp\ipykernel_18496\3586719586.py:7: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['sentiment', 'lev_bucket'])

      sentiment lev_bucket  n_trades     avg_pnl  win_rate
0  EXTREME FEAR       <=2x       575    7.307692  0.280000
1  EXTREME FEAR       2–5x       485    7.515066  0.323711
2  EXTREME FEAR      5–10x       596   22.696638  0.447987
3  EXTREME FEAR     10–20x       132  103.527931  0.522727
4  EXTREME FEAR     20–50x        88  -93.332297  0.193182